<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call OF Duty: Infinite Warfare</title>
    <link rel="stylesheet" href="COD_InfiniteWarfare.css">
    <style>
        /* Estilos para el modal */
            .modal {
                display:none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.9);
            }
            .modal-content {
                margin: auto;
                display: block;
                width: 80%;
                max-width: 100%;
            }
            .close {
                position: absolute;
                top: 20px;
                right: 35px;
                color: #f1f1f1;
                font-size: 40px;
                font-weight: bold;
                transition: 0.3s;
            }
            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
        </style>
</head>
<body>
    
    <header class="header">
        <div class="menu container">
            <a href="Inicio" class="logo">BLOGGAMER</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="images/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="Inicio.html">Inicio</a></li>
                    <li><a href="./Noticias.html">Noticias</a></li>
                    <li><a href="Juegos.html">Juegos</a></li>
                    <li><a href="../index.php">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="cod-iw-container">
        <h1>Call Of Duty: Infinite Warfare</h1>
        <div class="cod-iw-info">
            <h3>Información del juego</h3>
            <div class="info-juego-cod-iw">
                <p>
                Call of Duty: Infinite Warfare es un videojuego de disparos en primera persona desarrollado por Infinity Ward y distribuido por Activision. Es el videojuego número trece de la serie Call of Duty y salió a la venta el 4 de noviembre de 2016 para Microsoft Windows, PlayStation 4 y Xbox One. Su edición "Legacy" incluye la remasterización de Call of Duty 4: Modern Warfare, 
                titulada Modern Warfare Remastered disponible para las mismas plataformas y que fue desarrollado por Raven Software. Este es el primer juego de la saga Call of Duty en ser exclusivo para PlayStation 4, Xbox One y PC.
                <br>
                <br>
                Infinite Warfare se establece en un futuro relativamente lejano, después de que a la Tierra se le hayan "acabado" sus fuentes de energía como resultado del crecimiento de la población y la expansión industrial, lo que llevó a las naciones del mundo a unirse y formar la Alianza de las Naciones Unidas para el Espacio (UNSA, por sus siglas en inglés), una organización política que se 
                encarga de las cuestiones relacionadas con el comercio, los viajes, las reclamaciones de tierras y todos los esfuerzos relativos a la colonización humana del Sistema Solar. Los residentes de la Tierra dependen de las colonias establecidas en los diferentes planetas, satélites naturales y asteroides con el fin de obtener recursos energéticos y materiales de éstos. El valor de estos 
                puestos de avanzada, sin embargo, atrae a militantes radicales que tratan de controlarlos; una acción que podría poner a los países de la Tierra en una posición muy desfavorable. En respuesta, la UNSA es defendida por la Organización del Tratado Asociado Solar (SATO, por sus siglas en inglés), una estructura militar coordinada de defensa de la Tierra y de las colonias de la UNSA por todo el sistema solar. 
                Sin embargo, antes de los acontecimientos del juego, surge una nueva facción hostil, conocido como el Frente de Defensa Colonial (SDF, por sus siglas en inglés), que consta de insurgentes que se separaron de la UNSA durante una guerra de secesión, 30 años antes de los hechos contados en el juego. Después de años de tensión y problemas con el SDF, las relaciones se han deteriorado hasta un punto en el que todo 
                el sistema solar está al borde de la guerra. Por los acontecimientos del juego, el SDF le declara la guerra a la UNSA y lanza un ataque sorpresa en Ginebra, debilitando seriamente fuerzas de la UNSA y la SATO en la Tierra.
                <br>
                Un equipo de fuerzas especiales de la UNSA es enviado a una instalación de investigación armamentística secreta de la UNSA en una de las lunas de Júpiter, Europa, para investigar un ataque del SDF y recuperar un prototipo de arma antes de iniciar la autodestrucción de la instalación. El equipo es capaz de destruir la instalación, pero no logra recuperar el arma y es capturado por el SDF. El grupo es ejecutado más 
                tarde por uno de los comandantes principales del SDF, el Almirante Kotch.
                <br>
                <br>
                El multijugador de Infinite Warfare introduce una importante reforma al sistema de clases llamadas "plataformas de combate". Al igual que en el sistema de Especialista, hay seis equipos en total, incluyendo Warfighter, Merc, FTL, Stryker, Phantom y Synaptic.
                Todos tienen diferentes cargas útiles, armas, habilidades y estilos de juego. Por ejemplo, la plataforma Synaptic está diseñado para jugadores que prefieren correr y disparar, mientras que el equipo de perforación Phantom es adecuado para los jugadores que quieren jugar con sigilo. Los jugadores también pueden tener acceso a varios beneficios persistentes, conocidos como "rasgos", que dan a los jugadores ventajas en 
                situaciones de combate. Además, el juego mantiene el sistema de movimiento de impulso basado en la cadena de Black Ops III, lo que permite a los jugadores realizar saltos de empuje, correderas, y "wallrunning" o correr por las paredes.
                </p>
            </div>

            <h3>Reseñas</h3>
            <div class="reseñas-calif">

            <div class="resenia-cod-iw">
                <center><img src="images/IGN-Logo.png" width="400" height="100"></center>
                <div class="resenia">
                <h5>IGN</h5>
                <div class="calif">
                    <h6>Bueno</h6>
                    <p>
                    "Hay una gran cantidad de contenido en Call of Duty: Infinite Warfare, aunque especialmente si jugaste a Black Ops 3 el año pasado, hay poco que sea particularmente impresionante. La campaña es ignorable y el modo multijugador necesita un 
                    poco de trabajo técnico para ser tan bueno como el del año pasado, pero el modo Zombies demasiado tonto me hace volver. Puede que no destaque en un año lleno de grandes shooters, pero aun así produce esa acción familiar de Call of Duty."
                    <br>
                    <br>
                    "7.7 / 10" </p>
                </div>
            </div>
            </div>

            <div class="resenia-cod-iw">
                <center><img src="images/Metacritic_logo.png" width="500" height="100"></center>
                <div class="resenia">
                <h5>Metacritic</h5>
                <div class="calif">
                    <h6>Generalmente favorable</h6>
                    <p>"Basado en 91 reviews de críticas." <br><br>
                    "Infinite Warfare tiene la mejor campaña de Call of Duty desde Black Ops 2, con características sorprendentes como misiones secundarias, combate espacial, coleccionables nuevos y útiles y dificultad especializada. Además, Zombies in Spaceland es un mapa nuevo y encantador 
                    que intenta reinventar el modo cooperativo zombie. Por otro lado, el multijugador se siente como un déjà vu de Black Ops 3 sin suficientes cambios o mejoras."
                    <br><br> 
                    "77 / 100"</p>
                </div>
            </div>
            </div>

            <div class="resenia-cod-iw">
                <center><img src="images/levelup-com-logo-vector-removebg-preview.png" width="500" height="100"></center>
                <div class="resenia">
                <h5>LevelUp</h5>
                <div class="calif">
                    <h6>"7.7/10"</h6>
                    <p>
                    "En la parte posterior de la caja de Call of Duty: Infinite Warfare se lee en letras grandes: "EL MÁXIMO PAQUETE DE ENTRETENIMIENTO" y es cierto: si lo que buscas es volumen, Call of Duty: Infinite Warfare supone un gasto que no te decepcionará ─especialmente si compras el remáster 
                    de Modern Warfare─, pero si te consideras un fan añejo de la serie, debes saber que esto ya no es precisamente Call of Duty. El salto al espacio viene a consolidar una brecha temática y filosófica brutal para la saga. La campaña todavía conserva algunos de los valores originales y, 
                    tanto la dirección de arte como la narrativa, aciertan, pero el multiplayer denota una crisis de identidad importante y sacrifica cualidades tradicionales de la franquicia, tales como accesibilidad, carácter intuitivo de su estructura y hasta la sobriedad de lo que, por muchos años, 
                    fue una auténtica celebración bélica. En otras palabras, Infinity Warfare confunde cantidad con calidad en ciertos momentos y ello produce una experiencia inconsistente."
                    </p>
                </div>
            </div>
            </div>


        </div>
    
        <br>
        
        <h3>Imágenes y capturas del juego</h3>
        
        <div class="imagenes-y-capturas">
            <img id="myImage" src="cod-iw/cod-iw-1.jpg" onclick="openModal(this.src)">
         
            <img id="myImage" src="cod-iw/cod-iw-2.jpg" onclick="openModal(this.src)">
        
            <img id="myImage" src="cod-iw/cod-iw-3.jpg" onclick="openModal(this.src)">
        
            <img id="myImage" src="cod-iw/cod-iw-4.jpg" onclick="openModal(this.src)">

            <img id="myImage" src="cod-iw/cod-iw-5.jpg" onclick="openModal(this.src)">

            <img id="myImage" src="cod-iw/cod-iw-6.jpg" onclick="openModal(this.src)">
        </div>

                <!-- El modal -->
<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
</div>

<script>
    function openModal(src) {
        document.getElementById('myModal').style.display = "block";
        document.getElementById('modalImage').src = src;
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }
</script>


        <h3>Gameplay del juego</h3>
        <div style="text-align: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WHaucPJ86gI?si=37NhB6HFgrn1S4i-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

    </div>

    </main>

    <footer class="footer container">

        <div class="link">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
        </div>

        <div class="link">
            <ul>
                <li><a href="Inicio.html">Inicio</a></li>
                <li><a href="./Noticias.html">Noticias</a></li>
                <li><a href="Juegos.html">Juegos</a></li>
                <li><a href="../index.php">Cerrar sesión</a></li>
            </ul>
        </div>

    </footer>

    </body>
    </html>