<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crash Bandicoot N'Sane Trilogy</title>
    <link rel="stylesheet" href="Crash-N'Sane-Trilogy.css">
    <style>
        /* Estilos para el modal */
            .modal {
                display:none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.9);
            }
            .modal-content {
                margin: auto;
                display: block;
                width: 80%;
                max-width: 100%;
            }
            .close {
                position: absolute;
                top: 20px;
                right: 35px;
                color: #f1f1f1;
                font-size: 40px;
                font-weight: bold;
                transition: 0.3s;
            }
            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
        </style>
</head>
<body>
    
    <header class="header">
        <div class="menu container">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="images/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="Inicio.html">Inicio</a></li>
                    <li><a href="./Noticias.html">Noticias</a></li>
                    <li><a href="Juegos.html">Juegos</a></li>
                    <li><a href="../index.php">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="crash-nsane-container">
        <h1>Crash Bandicoot N'Sane Trilogy</h1>
        <div class="crash-nsane-info">
            <h3>Información del juego</h3>
            <div class="info-juego-crash-nsane">
                <p>
                Crash Bandicoot N. Sane Trilogy es un videojuego de plataformas desarrollado por Vicarious Visions y publicado por Activision como una exclusiva temporal para la 
                plataforma PlayStation 4. El videojuego es una colección nueva y mejorada de los tres primeros títulos de la serie Crash Bandicoot: 
                Crash Bandicoot, Crash Bandicoot 2: Cortex Strikes Back y Crash Bandicoot 3: Warped, que fueron desarrollados originalmente por Naughty 
                Dog para la consola PlayStation. El videojuego fue lanzado el 30 de junio de 2017 en PlayStation 4, a excepción de Japón donde fue 
                lanzado el 3 de agosto de 2017. Tuvo una recepción generalmente favorable por parte de los críticos, que elogiaron la fidelidad 
                de los videojuegos a la trilogía original. En 2019, había vendido más de diez millones de copias en todo el mundo.
                <br>
                El 8 de marzo de 2018, se anunció que el juego estaría disponible para Xbox One, Nintendo Switch y Microsoft Windows. Finalmente, el lanzamiento en estas plataformas se produjo el 29 de junio de 2018.
                <br>
                <br>
                N. Sane Trilogy es una colección de remakes de los tres primeros videojuegos de la serie Crash Bandicoot (Crash Bandicoot, Crash Bandicoot 2: Cortex Strikes Back y Crash Bandicoot 3: Warped), que cuentan 
                con el personaje protagonista Crash Bandicoot, un marsupial mutante que debe atravesar varios niveles para detener al malvado Dr. Neo Cortex. Al igual que en los videojuegos originales, Crash utiliza técnicas 
                de giro y salto para derrotar a los enemigos, romper las cajas y recoger artículos como Frutas Wumpa, vidas extra y la máscara protectora Aku-Aku. La trilogía agrega nuevas 
                características en los tres videojuegos, incluyendo puntos de control unificados, menús de pausa y sistemas de guardado, incluyendo el 
                guardado manual y automático, y pruebas contrarreloj, que se introdujeron por primera vez en Warped y cuenta con la posibilidad de jugar 
                como Coco Bandicoot, la hermana menor de Crash. La trilogía agrega DLCs que contienen dos niveles: Stormy Ascent (Un nivel que fue 
                eliminado por Naughty Dog del primer videojuego original de la saga por ser muy difícil) y Future Tense, un nivel futurista completamente 
                nuevo que se incluye cerca del nivel final de Warped.
                </p>
            </div>

            <h3>Reseñas</h3>
            <div class="reseñas-calif">

            <div class="resenia-crash-nsane">
                <center><img src="images/IGN-Logo.png" width="400" height="100"></center>
                <div class="resenia">
                <h5>IGN</h5>
                <div class="calif">
                    <h6>Genial</h6>
                    <p>
                    "Las primeras salidas de Crash, que en gran medida resisten mecánicamente la prueba del tiempo, reciben un lavado de cara N. creíble en esta colección." 
                    <br>
                    "No quería que Crash Bandicoot: N. Sane Trilogy rompiera lo que no estaba roto. Afortunadamente, Vicarious Visions claramente tampoco quería hacerlo, y la reverencia 
                    del estudio por los desafíos originales, enloquecedores pero gratificantes, que aún siguen siendo divertidos, está claramente en evidencia. Por un lado, eso lleva a que las frustrantes limitaciones 
                    del Crash Bandicoot original persistan 20 años después. Pero también da como resultado una increíble revisión visual y auditiva y ajustes 
                    en el juego a entradas anteriores, como contrarreloj y contadores de cajas, que Naughty Dog agregó más adelante en la serie. 
                    Esas adiciones hacen que el paquete general sea mucho más cohesivo sin olvidar nunca lo que hizo, y lo que todavía hace, que gran parte de
                     la trilogía original de Naughty Dog sea una maravilla para jugar."
                    <br>
                    <br>
                    "8.5 / 10" </p>
                </div>
            </div>
            </div>

            <div class="resenia-crash-nsane">
                <center><img src="images/Metacritic_logo.png" width="500" height="100"></center>
                <div class="resenia">
                <h5>Metacritic</h5>
                <div class="calif">
                    <h6>Aclamado universalmente</h6>
                    <p>"Basado en 87 reviews de críticas." <br><br>
                    "Tan bueno como soñábamos, rehechos respetuosamente a partir de los juegos originales, anticuados pero disfrutables por los jugadores de hoy en día, grandes y pequeños... Activision por fin nos ha dado lo que todo el mundo pedía, y el juego resultante para PS4 tiene todas esas sensaciones, colorido, 
                    escenarios y cosas adictivas que lo hacen destacar entre cualquier otro juego de plataformas. El juego del verano."
                        <br><br> "80 / 100"</p>
                </div>
            </div>
            </div>

            <div class="resenia-crash-nsane">
                <center><img src="images/levelup-com-logo-vector-removebg-preview.png" width="500" height="100"></center>
                <div class="resenia">
                <h5>LevelUp</h5>
                <div class="calif">
                    <h6>El marsupial favorito de los 90's está de vuelta</h6>
                    <p>
                    "Crash Bandicoot N. Sane Trilogy es un imperdible para los fans de la serie y nostálgicos de los 90. El tratamiento que Vicarious Visions dio a los juegos es impecable y 
                    revitalizante; sin embargo, si nunca has jugado un Crash, quizá lo encuentres frustrante y deficiente.""
                    </p>
                </div>
            </div>
            </div>


        </div>
    
        <br>
        
        <h3>Imágenes y capturas del juego</h3>
        
        <div class="imagenes-y-capturas">
            <img id="myImage" src="crash-nsane-trilogy/crash-bandicoot-n-sane-trilogy-gameplay-1.jpg" onclick="openModal(this.src)">
         
            <img id="myImage" src="crash-nsane-trilogy/crash-bandicoot-n-sane-trilogy-gameplay-2.jpg" onclick="openModal(this.src)">
        
            <img id="myImage" src="crash-nsane-trilogy/crash-bandicoot-n-sane-trilogy-gameplay-3.jpg" onclick="openModal(this.src)">
        
            <img id="myImage" src="crash-nsane-trilogy/crash-bandicoot-n-sane-trilogy-gameplay-4.jpg" onclick="openModal(this.src)">

            <img id="myImage" src="crash-nsane-trilogy/crash-bandicoot-n-sane-trilogy-gameplay-5.jpg" onclick="openModal(this.src)">

            <img id="myImage" src="crash-nsane-trilogy/crash-bandicoot-n-sane-trilogy-gameplay-6.jpg" onclick="openModal(this.src)">
        </div>

                <!-- El modal -->
<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
</div>

<script>
    function openModal(src) {
        document.getElementById('myModal').style.display = "block";
        document.getElementById('modalImage').src = src;
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }
</script>

<h3>Gameplay del juego</h3>
<div style="text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3ZCfVQv0q3I?si=JYrlQIVA7UCYkjW1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

    </main>


    <footer class="footer container">

        <div class="link">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
        </div>

        <div class="link">
            <ul>
                <li><a href="Inicio.html">Inicio</a></li>
                <li><a href="./Noticias.html">Noticias</a></li>
                <li><a href="Juegos.html">Juegos</a></li>
                <li><a href="../index.php">Cerrar sesión</a></li>
            </ul>
        </div>

    </footer>

    </body>
    </html>