<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crash Team Racing - Nitro Fueled</title>
    <link rel="stylesheet" href="CTR_Nitro-Fueled.css">
    <style>
        /* Estilos para el modal */
            .modal {
                display:none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.9);
            }
            .modal-content {
                margin: auto;
                display: block;
                width: 80%;
                max-width: 100%;
            }
            .close {
                position: absolute;
                top: 20px;
                right: 35px;
                color: #f1f1f1;
                font-size: 40px;
                font-weight: bold;
                transition: 0.3s;
            }
            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
        </style>
</head>
<body>
    
    <header class="header">
        <div class="menu container">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="images/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="Inicio.html">Inicio</a></li>
                    <li><a href="./Noticias.html">Noticias</a></li>
                    <li><a href="Juegos.html">Juegos</a></li>
                    <li><a href="../index.php">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="ctr-nf-container">
        <h1>Crash Team Racing - Nitro Fueled</h1>
        <div class="ctr-nf-info">
            <h3>Información del juego</h3>
            <div class="info-juego-ctr-nf">
                <p>Crash Team Racing Nitro Fueled es un videojuego, perteneciente al género de videojuego de karts desarrollado por el estudio Beenox y publicado 
                    por Activision. Es una remasterización del videojuego Crash Team Racing del año 1999, desarrollado originalmente por Naughty Dog para la 
                    PlayStation. También incluye contenido de los videojuegos Crash Nitro Kart, desarrollado originalmente por Vicarious Visions en el año 2003, 
                    y Crash Tag Team Racing, desarrollado originalmente por Radical Entertainment en 2005.
                    El videojuego se lanzó para las consolas PlayStation 4, Nintendo Switch y Xbox One el 21 de junio del año 2019.
                   <br>
                   <br>
                   ¡Crash regresa al volante! Prepárate para desmelenarte con Crash™ Team Racing Nitro-Fueled. Es la experiencia auténtica de CTR
                    y mucho más; completamente remasterizada y hasta arriba de revoluciones.
                    <br>
                    <br>
                    56 personajes, 40 circuitos, 40 karts de CTR, CNK y mucho más. Además de 9 modos de juego locales, incluido el modo Aventura: ¡El infame modos
                    aventura de CTR!.
                   
                </p>
                <p>
                Crash Team Racing - Nitro Fueled cuenta con varios modos de juegos como los siguientes:
                </p>
                <ul>
                <br>
                <li>Modo aventura: Trata la historia del torneo de Oxide, en la que distintos corredores tanto del bando de los villanos como de los héroes se reúnen para hacer frente 
                al desafío extraterrestre de un tercer bando, el equipo Oxide liderado por Nitrous Oxide. </li>
                <br>
                <li>Carrera Individual: Un modo de exhibición en el cual se disputan carreras en los distintos escenarios disponibles, con cualquiera de los corredores. </li> 
                <br>
                <li>Modo versus: Modo de carrera en el que diversos jugadores humanos compiten bajo condiciones de juego específicas de las carreras.</li>
                <br>
                <li>Torneo: Habilitado para juego individual y multijugador, distintos jugadores compiten con la IA en un conjunto de mapas en un torneo por puntos para lograr 
                un lugar en el podio de campeones. </li>
                <br>
                <li>Parte del modo exhibición en el cual los jugadores recorren los mapas en modalidad estándar simplificada sin poderes, para establecer los 
                mejores tiempos, los jugadores pueden guardar la reproducción de sus carreras como fantasmas para competencias contra uno mismo. </li>
                <br>
                <li>Modo Batalla: Modo de juego en el que los jugadores compiten en mapas especiales diseñados específicamente para batallar con los superpoderes en una competición 
                en la que los jugadores que acierten primero cierto número de golpes a los otros competidores ganan. </li>
                <br>
                <li>Carrera de Anillos: Consiste en pasar por debajo de una cadena de anillos en el menor tiempo posible que a su vez van sumando tiempo y puntos al marcador dándonos 
                velocidad extra, en cada vuelta disminuye el tamaño de los anillos haciendo más complicado pasar por debajo de ellos, el juego termina cuando el contador de 
                tiempo llega a cero. </li>
                </ul>
            </div>

            <h3>Reseñas</h3>
            <div class="reseñas-calif">

            <div class="resenia-ctr-nf">
                <center><img src="images/IGN-Logo.png" width="400" height="100"></center>
                <div class="resenia">
                <h5>IGN</h5>
                <div class="calif">
                    <h6>Bueno</h6>
                    <p>"CTR Nitro-Fueled deja al resto de los juegos del género en el polvo al llegar con visuales impresionantes, 
                    gameplay complejo y entretenido, montones de personalidad, y una cantidad impresionante de contenido." <br><br> 
                    "La dificultad de Crash Team Racing Nitro-Fueled, el diseño de pista memorable y la adictiva mecánica de deslizamiento 
                    de potencia lo convierten en un juego de carreras de karts que vale la pena jugar, 
                    pero no está exento de frustraciones."<br><br>"8.2 / 10" </p>
                </div>
            </div>
            </div>

            <div class="resenia-ctr-nf">
                <center><img src="images/Metacritic_logo.png" width="500" height="100"></center>
                <div class="resenia">
                <h5>Metacritic</h5>
                <div class="calif">
                    <h6>Generalmente favorable</h6>
                    <p>"Basado en 76 reviews de críticas." <br><br>"Crash Bandicoot y compañía regresan a la pista conduciendo sus karts, 
                        ahora completamente remodelados y listos para competir en la actual generación de consolas. Un título un poco exigente 
                        pero muy bonito, totalmente recomendado para jugar con amigos y revivir esos maravillosos 
                        momentos de nuestra infancia."<br><br> "83 / 100"</p>
                </div>
            </div>
            </div>

            <div class="resenia-ctr-nf">
                <center><img src="images/levelup-com-logo-vector-removebg-preview.png" width="500" height="100"></center>
                <div class="resenia">
                <h5>LevelUp</h5>
                <div class="calif">
                    <h6>Una gran experiencia de karts para novatos y nostálgicos</h6>
                    <p>"Recomiendo Crash Team Racing Nitro-Fueled a todos los que son fans de la entrega 
                        original y la extrañan. El remake está hecho para sentirse justo como recuerdas la experiencia original, 
                        pero pulida, con más contenido y gráficos completamente renovados. Como mencioné antes, también creo que 
                        puede dejar muy contentos a todos aquellos que quieren un nuevo juego de karts que sólo se preocupe por 
                        diversión sencilla sin preocuparse por desafiar la gravedad o vehículos que se transforman." <br><br>
                        "8.8 / 10"</p>
                </div>
            </div>
            </div>


        </div>
    
        <br>
        
        <h3>Imágenes y capturas del juego</h3>
        
        <div class="imagenes-y-capturas">
            <img id="myImage" src="ctr_nitro-fueled/crash team-gameplay1.jpg" onclick="openModal(this.src)">
         
            <img id="myImage" src="ctr_nitro-fueled/ctr-paso-polar.jpg" onclick="openModal(this.src)">
        
            <img id="myImage" src="ctr_nitro-fueled/ctr-nf-menu.jpeg" onclick="openModal(this.src)">
        
            <img id="myImage" src="ctr_nitro-fueled/CTR-review-3.jpg" onclick="openModal(this.src)">

            <img id="myImage" src="ctr_nitro-fueled/CTR-NF-8.jpg" onclick="openModal(this.src)">

            <img id="myImage" src="ctr_nitro-fueled/ctr-modo-aventura.jpg" onclick="openModal(this.src)">
        </div>

        <!-- El modal -->
<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
</div>

<script>
    function openModal(src) {
        document.getElementById('myModal').style.display = "block";
        document.getElementById('modalImage').src = src;
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }
</script>

<h3>Gameplay del juego</h3>
<div style="text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DIyWevTSMaU?si=2ghpalzXsxz019yH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>

    </main>


    <footer class="footer container">

        <div class="link">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
        </div>

        <div class="link">
            <ul>
                <li><a href="Inicio.html">Inicio</a></li>
                <li><a href="./Noticias.html">Noticias</a></li>
                <li><a href="Juegos.html">Juegos</a></li>
                <li><a href="../index.php">Cerrar sesión</a></li>
            </ul>
        </div>

    </footer>

    </body>
    </html>