<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>God Of War: Ragnarok</title>
    <link rel="stylesheet" href="God-Of-War-Ragnarok.css">
    <style>
        /* Estilos para el modal */
            .modal {
                display:none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.9);
            }
            .modal-content {
                margin: auto;
                display: block;
                width: 80%;
                max-width: 100%;
            }
            .close {
                position: absolute;
                top: 20px;
                right: 35px;
                color: #f1f1f1;
                font-size: 40px;
                font-weight: bold;
                transition: 0.3s;
            }
            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
        </style>
</head>
<body>
    
    <header class="header">
        <div class="menu container">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="images/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="Inicio.html">Inicio</a></li>
                    <li><a href="./Noticias.html">Noticias</a></li>
                    <li><a href="Juegos.html">Juegos</a></li>
                    <li><a href="../index.php">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="gow-ragnarok-container">
        <h1>God Of War: Ragnarok</h1>
        <div class="gow-ragnarok-info">
            <h3>Información del juego</h3>
            <div class="info-juego-gow-ragnarok">
                <p>God of War Ragnarök es un videojuego de acción y aventura hack and slash en tercera persona desarrollado por Santa Monica Studio y publicado por 
                Sony Interactive Entertainment (SIE). Se lanzó en todo el mundo el 9 de noviembre de 2022 para PlayStation 4 y PlayStation 5, lo que marca el primer 
                lanzamiento intergeneracional de la serie. Es la novena entrega de la saga de God of War, la novena cronológicamente y la secuela de God of War de 2018. 
                Basado libremente en la mitología nórdica, el juego se desarrolla en la antigua Escandinavia y presenta al protagonista de la serie Kratos y su hijo adolescente 
                Atreus. Concluyendo la era nórdica de la serie, el juego cubre el Ragnarök, el evento escatológico que es central en la mitología nórdica y se predijo que 
                sucedería en el juego anterior después de que Kratos matara al dios Æsir Baldur.
                   <br>
                   <br>
                La jugabilidad es similar a la entrega anterior de 2018. Presenta combate basado en combos, así como elementos de rompecabezas y juegos de rol. La jugabilidad 
                se ha renovado con respecto al juego anterior: además de las armas principales de Kratos, un hacha de batalla mágica y sus espadas de doble cadena, también adquiere 
                una lanza mágica y su escudo se ha vuelto más versátil, con diferentes tipos de escudos que tienen diferentes habilidades ofensivas y defensivas. Su hijo Atreus, así 
                como algunos otros personajes, brindan asistencia en el combate y pueden controlarse pasivamente.
                   <br>
                   <br>
                En esta edición Atreus ha perfeccionado sus habilidades de arquería para realizar nuevos y poderosos ataques con el Arco de Garra y ha desarrollado nuevas habilidades de 
                invocación rúnica, lo que lo convierte en un compañero confiable para el combate.
                <br>
                <br>
                Cambia entre la resolución 4K completa a 30 fotogramas por segundo o la resolución dinámica escalada en 4K a 60 fotogramas por segundo.* Disfruta de los hermosos 
                mundos que por los que viajas, que cobran vida gracias a una impresionante dirección de arte y sorprendentes detalles. Contempla la mejora de los reflejos, la iluminación 
                y las sombras, así como el aumento de los detalles geométricos y la mejora de la nieve deformable.
                </p>
            </div>

            <h3>Reseñas</h3>
            <div class="reseñas-calif">

            <div class="resenia-gow-ragnarok">
                <center><img src="images/IGN-Logo.png" width="400" height="100"></center>
                <div class="resenia">
                <h5>IGN</h5>
                <div class="calif">
                    <h6>Obra maestra</h6>
                    <p>"God of War Ragnarok es un logro todopoderoso y crea un nuevo nivel que hace que muchos de sus pares parezcan mortales en comparación." 
                    <br><br>
                    "Un espectáculo apasionante para contemplar y aún más emocionante para tomar las riendas, God of War Ragnarok combina acción y aventura 
                    para crear una nueva e inolvidable saga nórdica. Escritura impecable, actuaciones perfectas, acción espectacular: es una obra de arte 
                    completa de arriba a abajo. Reflejando sus temas centrales, es todo lo que debería ser una secuela: respetuosa con su linaje legendario, 
                    pero sin miedo a llevarla a lugares nuevos y emocionantes. God of War Ragnarok es un logro todopoderoso y crea un nuevo nivel que hace 
                    que muchos de sus pares parezcan mortales en comparación."
                    <br><br>"10 / 10" </p>
                </div>
            </div>
            </div>

            <div class="resenia-gow-ragnarok">
                <center><img src="images/Metacritic_logo.png" width="500" height="100"></center>
                <div class="resenia">
                <h5>Metacritic</h5>
                <div class="calif">
                    <h6>Aclamación universal</h6>
                    <p>"Basado en 150 reviews de críticas." <br><br>"God of War Ragnarök te deja boquiabierto. 
                        Es un juego mucho mejor de lo que puedas imaginar y definitivamente es el mejor juego de toda la franquicia. 
                        En realidad, lo hace todo: su narrativa, la historia, los personajes o la jugabilidad y, por supuesto, las imágenes; 
                        simplemente es excepcional. El juego dura unas 40 horas y ofrece una sorpresa tras otra, 
                        simplemente no tiene ningún sentido."<br><br> "94 / 100"</p>
                </div>
            </div>
            </div>

            <div class="resenia-gow-ragnarok">
                <center><img src="images/levelup-com-logo-vector-removebg-preview.png" width="500" height="100"></center>
                <div class="resenia">
                <h5>LevelUp</h5>
                <div class="calif">
                    <h6>Digno de los dioses</h6>
                    <p>"Este título representa la novena entrega de la saga y le da continuidad a los hechos desarrollados 
                        en 2018 con Kratos y su hijo Atreus como protagonistas. Aquí la amenaza del Ragnarök está cada vez 
                        más cerca, por lo que Kratos y Atreus deben viajar a cada uno de los nueve reinos en búsqueda de respuestas, 
                        con el peligro que representan los aterradores enemigos en la forma de dioses nórdicos y monstruos." 
                        <br><br>"9.5 / 10"</p>
                </div>
            </div>
            </div>


        </div>
    
        <br>
        
        <h3>Imágenes y capturas del juego</h3>
        
        <div class="imagenes-y-capturas">
            <img id="myImage" src="gow_ragnarok/gow-ragnarok-gameplay-1.jpg" onclick="openModal(this.src)">
         
            <img id="myImage" src="gow_ragnarok/gow-ragnarok-gameplay-2.jpg" onclick="openModal(this.src)">
        
            <img id="myImage" src="gow_ragnarok/gow-ragnarok-gameplay-3.jpg" onclick="openModal(this.src)">
        
            <img id="myImage" src="gow_ragnarok/gow-ragnarok-gameplay-4.jpg" onclick="openModal(this.src)">

            <img id="myImage" src="gow_ragnarok/gow-ragnarok-gameplay-5.jpg" onclick="openModal(this.src)">

            <img id="myImage" src="gow_ragnarok/gow-ragnarok-gameplay-6.jpg" onclick="openModal(this.src)">
        </div>

        <!-- El modal -->
<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
</div>

<script>
    function openModal(src) {
        document.getElementById('myModal').style.display = "block";
        document.getElementById('modalImage').src = src;
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }
</script>

<h3>Gameplay del juego</h3>
<div style="text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ixllGOX0Evw?si=XfugIbySSErwI_TG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

    </main>

    <footer class="footer container">

        <div class="link">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
        </div>

        <div class="link">
            <ul>
                <li><a href="Inicio.html">Inicio</a></li>
                <li><a href="./Noticias.html">Noticias</a></li>
                <li><a href="Juegos.html">Juegos</a></li>
                <li><a href="../index.php">Cerrar sesión</a></li>
            </ul>
        </div>

    </footer>

    </body>
    </html>