<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hatsune Miku: Project Diva Future Tone</title>
    <link rel="stylesheet" href="Hatsune-Miku-Project-DIva-Future-Tone.css">
    <style>
        /* Estilos para el modal */
            .modal {
                display:none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.9);
            }
            .modal-content {
                margin: auto;
                display: block;
                width: 80%;
                max-width: 100%;
            }
            .close {
                position: absolute;
                top: 20px;
                right: 35px;
                color: #f1f1f1;
                font-size: 40px;
                font-weight: bold;
                transition: 0.3s;
            }
            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
        </style>
</head>
<body>
    
    <header class="header">
        <div class="menu container">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="images/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="Inicio.html">Inicio</a></li>
                    <li><a href="./Noticias.html">Noticias</a></li>
                    <li><a href="Juegos.html">Juegos</a></li>
                    <li><a href="../index.php">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="hatsune-miku-container">
        <h1>Hatsune Miku: Project Diva Future Tone</h1>
        <div class="hatsune-miku-info">
            <h3>Información del juego</h3>
            <div class="info-juego-hatsune-miku">
                <p>
                Hatsune Miku: Project Diva Future Tone, desarrollado por SEGA, es un videojuego de ritmo lanzado en 2016 para PlayStation 4. Formando parte de la popular serie Project Diva, 
                este título se distingue por su masiva biblioteca de canciones, con más de 200 pistas disponibles, abarcando una amplia gama de géneros musicales y éxitos de toda la serie, así como contenido nuevo. 
                Future Tone es una adaptación de la versión de arcade Project Diva Arcade, optimizada para consolas con gráficos mejorados y un sistema de juego refinado que desafía tanto a novatos 
                como a veteranos del género.
                <br>
                <br>
                El juego está disponible exclusivamente en PlayStation 4, aprovechando la potencia de la consola para presentar gráficos vibrantes y una experiencia de juego fluida.
                El juego desafía a los jugadores a presionar botones al ritmo de la música, con indicadores visuales que aparecen en pantalla para guiar las acciones del jugador. A diferencia de otros títulos de Project Diva, 
                Future Tone introduce un sistema de juego más cercano a su contraparte de arcade, ofreciendo una experiencia más desafiante. Los jugadores pueden personalizar a los personajes con una variedad de trajes y accesorios, 
                y el juego incluye varios modos, como práctica y desafío, para mantener a los jugadores comprometidos.
                <br>
                <br>
                Al ser un juego de ritmo, Hatsune Miku: Project Diva Future Tone no sigue una narrativa convencional. En su lugar, el foco está en la experiencia musical y la interpretación visual de las canciones a través de las 
                actuaciones de los Vocaloids.
                <br>
                Una de las características más destacadas de Future Tone es su extenso catálogo de canciones, que no solo incluye favoritos de los fans de entregas anteriores, sino también pistas exclusivas de la versión arcade. 
                Además, el juego presenta niveles de dificultad que van desde fácil hasta extremo, ofreciendo un amplio rango de desafío que puede satisfacer tanto a jugadores casuales como a expertos del género de ritmo.
                </p>
            </div>

            <h3>Reseñas</h3>
            <div class="reseñas-calif">

            <div class="resenia-miku-future-tone">
                <center><img src="images/IGN-Logo.png" width="400" height="100"></center>
                <div class="resenia">
                <h5>IGN</h5>
                <div class="calif">
                    <h6>Bueno</h6>
                    <p>"7 / 10" </p>
                </div>
            </div>
            </div>

            <div class="resenia-miku-future-tone">
                <center><img src="images/Metacritic_logo.png" width="500" height="100"></center>
                <div class="resenia">
                <h5>Metacritic</h5>
                <div class="calif">
                    <h6>Generalmente favorable</h6>
                    <p>"Basado en 15 reviews de usuarios." <br><br>
                    "Future Tone es un juego de ritmo que ofrece una de las compilaciones musicales más importantes de todos los tiempos. 
                    Este nuevo episodio de la serie Hatsune Miku es una gran oportunidad para acercarte a la cultura J-Pop."
                        <br><br> "75 / 100"</p>
                </div>
            </div>
            </div>

            <div class="resenia-miku-future-tone">
                <center><img src="images/levelup-com-logo-vector-removebg-preview.png" width="500" height="100"></center>
                <div class="resenia">
                <h5>LevelUp</h5>
                <div class="calif">
                    <h6>El juego más grande de Hatsune Miku llegó a Occidente</h6>
                    <p>"La diva virtual más famosa del lejano oriente, Hatsune Miku, hace su arribo a occidente para ponernos a bailar a todos con sus más de 200 canciones. 
                        Además podrás vestirla a tu gusto con los más de 300 atuendos disponibles y la opción de configurar los botones como más te acomode." 
                    </p>
                </div>
            </div>
            </div>


        </div>
    
        <br>
        
        <h3>Imágenes y capturas del juego</h3>
        
        <div class="imagenes-y-capturas">
            <img id="myImage" src="hatsune-miku_future-diva/Hatsune-Miku-gameplay-1.jpg" onclick="openModal(this.src)">
         
            <img id="myImage" src="hatsune-miku_future-diva/Hatsune-Miku-gameplay-2.jpg" onclick="openModal(this.src)">
        
            <img id="myImage" src="hatsune-miku_future-diva/Hatsune-Miku-gameplay-3.jpg" onclick="openModal(this.src)">
        
            <img id="myImage" src="hatsune-miku_future-diva/Hatsune-Miku-gameplay-4.jpg" onclick="openModal(this.src)">

            <img id="myImage" src="hatsune-miku_future-diva/Hatsune-Miku-gameplay-5.jpg" onclick="openModal(this.src)">

            <img id="myImage" src="hatsune-miku_future-diva/Hatsune-Miku-gameplay-6.jpg" onclick="openModal(this.src)">
        </div>

        <!-- El modal -->
<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
</div>

<script>
    function openModal(src) {
        document.getElementById('myModal').style.display = "block";
        document.getElementById('modalImage').src = src;
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }
</script>

<h3>Gameplay del juego</h3>
<div style="text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pN90ar6G3pE?si=Ggm-Z7B3PjzlIzh8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>

</div>

    </main>


    <footer class="footer container">

        <div class="link">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
        </div>

        <div class="link">
            <ul>
                <li><a href="Inicio.html">Inicio</a></li>
                <li><a href="./Noticias.html">Noticias</a></li>
                <li><a href="Juegos.html">Juegos</a></li>
                <li><a href="../index.php">Cerrar sesión</a></li>
            </ul>
        </div>

    </footer>

    </body>
    </html>