<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloggamer: Sobre nosotros</title>
    <link rel="stylesheet" href="Información.css">
    <style>
        /* Estilos básicos para la tabla */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        /* Estilos para el texto */
        .custom-text {
            color: #00eaff; /* Color del texto */
            font-size: 18px; /* Tamaño del texto */
            text-align: justify;
        }

        .custom-header {
            color: #ffffff; /* Color del texto del encabezado */
            font-size: 20px; /* Tamaño del texto del encabezado */
            background-color: #333; /* Color de fondo del encabezado */
        }
    </style>
</head>
<body>
    
    <header class="header">
        <div class="menu container">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="images/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="Inicio.html">Inicio</a></li>
                    <li><a href="./Noticias.html">Noticias</a></li>
                    <li><a href="Juegos.html">Juegos</a></li>
                    <li><a href="../index.php">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>

        <div class="header-content container">
            <div class="header-txt">
                <h1>Aquí nos apasionan <span>los videojuegos.</span> <br> ¡Desde lo retro hasta lo nuevo! </h1>
                <p>
                    Desde lo retro hasta lo más nuevo del videojuego, desde Nintendo 64 hasta PlayStation 5, 
                    aquí buscamos mostrar nuestra pasión por los videojuegos.
                    En este espacio encontrarás desde noticias relevantes del mundo del videojuego, gameplays
                    reseñas e información de los juegos que van saliendo al mercado y de los que ya se 
                    conviertieron en parte de la historia de esta industria.
                </p>
                <div class="butons">
                    <a href="" class="btn-1">Noticias</a>
                </div>
            </div>
        </div>
    </header>

    <main class="contenedor-sobre-nosotros">
        <h1>BLOGGAMER</h1>
        <div class="informacion-bloggamer">
            <h2>Sobre nosotros</h2>
            <div class="descripcion-bloggamer">
                <p>
                ¡Bienvenidos a Bloggamer! Si eres un apasionado del mundo de los videojuegos, este es tu lugar. En nuestro blog, te mantenemos al tanto de todas las novedades en la actualidad de los videojuegos, desde los lanzamientos más esperados hasta las últimas noticias y tendencias. Además, nos encanta explorar el fascinante universo de los videojuegos retro, recordando los clásicos que marcaron épocas y que aún siguen capturando corazones.
                <br>
                <br>
                Pero eso no es todo. Bloggamer también es un paraíso para los coleccionistas. Compartimos consejos, historias y novedades sobre el coleccionismo de videojuegos, desde ediciones limitadas hasta los tesoros más raros y valiosos.
                <br>
                <br>
                Únete a nuestra comunidad, descubre artículos detallados, análisis profundos, y participa en debates apasionantes sobre todo lo relacionado con los videojuegos. Ya seas un gamer de toda la vida o un nuevo entusiasta, en Bloggamer encontrarás un espacio donde tu pasión por los videojuegos será celebrada y compartida. ¡Te esperamos!
                </p>
            </div>
            
            <br>
            <br>

            <h2>Propósito</h2>
            <div class="proposito-bloggamer">
                <p>
                El propósito de Bloggamer es ser el punto de encuentro definitivo para los entusiastas de los videojuegos, proporcionando noticias actualizadas, análisis profundos y contenido nostálgico sobre videojuegos retro. Además, buscamos inspirar y apoyar a la comunidad de coleccionistas, ofreciendo guías y consejos sobre el apasionante mundo del coleccionismo de videojuegos. Con un enfoque en la celebración de la historia y la evolución de los videojuegos, Bloggamer aspira a enriquecer la experiencia de los gamers de todas las generaciones y niveles de interés.
                </p>
            </div>
    
            <br>
            <br>

            <h2>Objetivo de Bloggamer</h2>
            <div class="objetivo-bloggamer">
                <p>
                El objetivo de Bloggamer es convertirse en la referencia principal para los amantes de los videojuegos, ofreciendo contenido relevante y de alta calidad que abarque tanto las últimas tendencias y noticias del sector como el rico legado de los videojuegos retro. Aspiramos a crear una comunidad vibrante y comprometida, donde los gamers y coleccionistas puedan encontrar información valiosa, compartir experiencias y disfrutar de su pasión común por los videojuegos en un entorno acogedor y bien informado.
                </p>
            </div>

            <br>
            <br>
            
            <h2>Los colaboradores</h2>
            <div class="colaboradores-bloggamer">
                <p>
                En Bloggamer, contamos con un equipo de colaboradores jóvenes y apasionados por los videojuegos. Cada uno de ellos trae una perspectiva única y un profundo conocimiento sobre diferentes aspectos del mundo gamer, desde los lanzamientos más recientes hasta los tesoros retro más buscados. Estos entusiastas de los videojuegos no solo comparten su amor por el gaming, sino que también están dedicados a ofrecerte análisis detallados, opiniones sinceras y las últimas novedades del sector.
                <br>
                Únete a nosotros para conocer a estos talentosos colaboradores, quienes están aquí para compartir su entusiasmo y expertise contigo, haciendo de Bloggamer el destino perfecto para cualquier aficionado a los videojuegos.
                </p>

                <br>
                <br>

                <table id="tabla-colaboradores">

                    <thead>
                        <tr>
                            <th class="custom-header"><h3>Ángel Manuel Sánchez Hipólito</h3></th>
                            <th class="custom-header"><h3>Jesús Guadalupe Roque Ramíres</h3></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><center><img src="images/perfil-1.png" alt="Perfil-Angel" width="150px"></center></td>
                            <td><center><img src="images/perfil-2.png" alt="Perfil-Jesus" width="150px"></center></td>
                        </tr>
                        <tr>
                            <td class="custom-text">
                                Es un joven con pasión al mundo de los videojuegos. Su pasión comenzó desde muy pequeño, y a lo largo de los años ha desarrollado un conocimiento profundo tanto de los juegos actuales como de los clásicos. Ángel es conocido por su habilidad para analizar y desglosar los aspectos técnicos de los juegos, así como por su capacidad para identificar tendencias emergentes en la industria. En Bloggamer, Ángel se enfoca en proporcionar análisis detallados y críticas constructivas de los juegos más recientes, ayudando a la comunidad a mantenerse informada y hacer las mejores elecciones a la hora de jugar.
                            </td>
                            <td class="custom-text">
                                Es un verdadero entusiasta de los videojuegos retro y un ávido coleccionista. Desde temprana edad, ha tenido un interés especial por los juegos que marcaron la historia del gaming. Jesús ha acumulado una colección impresionante de juegos y consolas antiguas, y disfruta compartiendo su conocimiento con otros aficionados. En Bloggamer, Jesús escribe artículos sobre la historia de los videojuegos, reseñas de juegos retro y consejos sobre coleccionismo. Su pasión por preservar y celebrar los clásicos del gaming aporta una valiosa perspectiva a nuestra comunidad, haciendo de Bloggamer un recurso imprescindible para cualquier amante de los videojuegos.
                            </td>
                        </tr>
                        <tr>
                            <td><center><img src="images/W3Schools-Puntajes-Angel.png" alt="Puntajes-Angel" width="75%"></center></td>
                            <td><center><img src="images/W3Schools-Puntajes-Jesus.png" alt="Puntajes-Jesus" width="75%"></center></td>
                        </tr>

                    </tbody>

                </table>
            
        </div>

    </div>

    </main>

    <!-- Contador de visitas -->
    <div class="visit-counter">
        <p>Visitas a esta página: 310</p>
    </div>


    <footer class="footer container">

        <div class="link">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
        </div>

        <div class="link">
            <ul>
                <li><a href="Inicio.html">Inicio</a></li>
                <li><a href="./Noticias.html">Noticias</a></li>
                <li><a href="Juegos.html">Juegos</a></li>
                <li><a href="../index.php">Cerrar sesión</a></li>
            </ul>
        </div>

    </footer>

    </body>
    </html>