
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloggamer</title>
    <link rel="stylesheet" href="Inicio.css">
</head>

<body>
    
    <header class="header">
        <div class="menu container">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="images/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="Inicio.html">Inicio</a></li>
                    <li><a href="./Noticias.html">Noticias</a></li>
                    <li><a href="Juegos.html">Juegos</a></li>
                    <li><a href="../index.php">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="header-content container">
            <div class="header-txt">
                <h1>Aquí nos apasionan <span>los videojuegos.</span> <br> ¡Desde lo retro hasta lo nuevo! </h1>
                <p>
                    Desde lo retro hasta lo más nuevo del videojuego, desde Nintendo 64 hasta PlayStation 5, 
                    aquí buscamos mostrar nuestra pasión por los videojuegos.
                    En este espacio encontrarás desde noticias relevantes del mundo del videojuego, gameplays
                    reseñas e información de los juegos que van saliendo al mercado y de los que ya se 
                    conviertieron en parte de la historia de esta industria.
                </p>
                <div class="butons">
                    <a href="Información.html" class="btn-1">información</a>
                    <a href="./Noticias.html" class="btn-1">Noticias</a>
                </div>
            </div>
        </div>
    </header>
    
    <section class="popular container">
        <h2>Juegos populares</h2>
        <p class="visit-counter">Número de visitas a esta página: {{ visits }}</p>

        <div class="popular-content">
            <a href="EA-FC-24.html"> <img src="images/F07trK5WwAE5lxQ (1).jpg" alt="">  </a>
            <a href="Cyberpunk2077.html"> <img src="images/cover.cyberpunk-2077.1440x2160.2019-08-20.154 (1).jpg" alt=""> </a>
            <a href="COD_InfiniteWarfare.html"> <img src="images/CoD_IW_cover_29 (1).jpg" alt=""> </a>
            <a href="Fortnite.html"> <img src="images/g4.jpg" alt=""> </a>
            <a href="Resident-Evil-4-Remake.html"> <img src="images/resident_evil_4_remake-5789986.jpg" alt=""> </a>
            <a href="Grand-Theft-Auto-5.html"> <img src="images/g6.jpg" alt=""> </a>
            <a href="FallGuys.html"> <img src="images/fall-guys-portada (1).jpeg" alt=""> </a>
        </div>
    </section>

    <main class="product container">

        <h2>Todos los juegos</h2>

        <div class="juegos-content">

            <div class="informacion">
                <img src="images/crash-team-nf.jpg" alt="">
                <div class="informacion-txt">
                    <h3>Crash Team Racing: Nitro Fueled</h3>
                    <div class="reseña">
                        <p>Crash Team Racing Nitro Fueled es un videojuego, perteneciente al género 
                           de karts desarrollado por el estudio Beenox y publicado por Activision.
                        </p>
                        <a href="CTR_Nitro-Fueled.html" class="btn-2">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="informacion">
                <img src="images/god-of-war-ragnarok.jpg" alt="">
                <div class="informacion-txt">
                    <h3>God of War: Ragnarok</h3>
                    <div class="reseña">
                        <p>God of War Ragnarök es un videojuego de acción y aventuras 
                           en tercera persona desarrollado por Santa Monica Studio y 
                           publicado por Sony Interactive Entertainment.
                        </p>
                        <a href="God-Of-War-Ragnarok.html" class="btn-2">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="informacion">
                <img src="images/ssktjl.jpg" alt="">
                <div class="informacion-txt">
                    <h3>Suicide Squad: Kill the Justice League</h3>
                    <div class="reseña">
                        <p>Suicide Squad: Kill the Justice League es un videojuego 
                           desarrollado por Rocksteady Studios, y distribuido por 
                           Warner Bros. Interactive Entertainment basado en el equipo 
                           de los cómics de DC Comics, Suicide Squad. 
                        </p>
                        <a href="Suicide-Squad-KTJL.html" class="btn-2">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="informacion">
                <img src="images/cyberpunk-2077.jpg" alt="">
                <div class="informacion-txt">
                    <h3>Cyberpunk 2077</h3>
                    <div class="reseña">
                        <p>Cyberpunk 2077 es un videojuego perteneciente al género rol de 
                           acción y disparos en primera persona desarrollado y publicado 
                           por CD Projekt.
                        </p>
                        <a href="Cyberpunk2077.html" class="btn-2">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="informacion">
                <img src="images/ea-fc-24.jpg" alt="">
                <div class="informacion-txt">
                    <h3>EA Sports FC 24</h3>
                    <div class="reseña">
                        <p>EA Sports FC 24 es un videojuego de fútbol, desarrollado por EA, 
                           y publicado por EA Sports. Este juego marca la primera entrega de 
                           la serie EA Sports FC, tras la conclusión de la asociación de 
                           EA con FIFA.
                        </p>
                        <a href="EA-FC-24.html" class="btn-2">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="informacion">
                <img src="images/wwe-2k23.jpg" alt="">
                <div class="informacion-txt">
                    <h3>WWE 2K23</h3>
                    <div class="reseña">
                        <p>WWE 2K23 es un videojuego de lucha libre profesional desarrollado por 
                           Visual Concepts y publicado por 2K Sports. Es el 24.º videojuego de la WWE
                           y el 10.º bajo el estandarte de WWE 2K.
                        </p>
                        <a href="WWE2K23.html" class="btn-2">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="informacion">
                <img src="images/crash-nsane-trilogy.jpg" alt="">
                <div class="informacion-txt">
                    <h3>Crash N'Sane Trilogy</h3>
                    <div class="reseña">
                        <p>Crash Bandicoot N. Sane Trilogy es un videojuego de plataformas desarrollado 
                           por Vicarious Visions y publicado por Activision como una exclusiva temporal 
                           para la plataforma PlayStation 4.
                        </p>
                        <a href="Crash-N'Sane-Trilogy.html" class="btn-2">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="informacion">
                <img src="images/hatsune-miku-project-diva-future-tone.jpg" alt="">
                <div class="informacion-txt">
                    <h3>Hatsune Miku: Project Diva Future Tone</h3>
                    <div class="reseña">
                        <p>Hatsune Miku: Project DIVA Future Tone es un juego de ritmo basado en el mega 
                           popular título arcade japonés, Hatsune Miku: Project DIVA Arcade Future Tone.
                        </p>
                        <a href="Hatsune-Miku-Project-DIva-Future-Tone.html" class="btn-2">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="informacion">
                <img src="images/resident-evil-4-remake.jpg" alt="">
                <div class="informacion-txt">
                    <h3>Resident Evil 4 Remake</h3>
                    <div class="reseña">
                        <p>Resident Evil 4 es un videojuego de acción-aventura de disparos en tercera persona 
                           perteneciente al subgénero de terror y supervivencia desarrollado y publicado 
                           por Capcom.</p>
                        <a href="Resident-Evil-4-Remake.html" class="btn-2">Ver más</a>
                    </div>
                </div>
            </div>

        </div>

    <br>
    <br>
    <br>
    <br>

    <div class = "contenedor-mas-juegos">

        <a href="Juegos.html" class="btn-mas-juegos">Ver más juegos</a>

    </div>
    <br>
    <br>
    <br>
    <a href="comentariosgenerales.html" class="btn-comments">Ir a Comentarios Generales</a>
    </main>
    
   <br>
    <br>
    <br>

    <footer class="footer container">

        <div class="link">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
        </div>

        <div class="link">
            <ul>
                <li><a href="Inicio.html">Inicio</a></li>
                <li><a href="./Noticias.html">Noticias</a></li>
                <li><a href="Juegos.html">Juegos</a></li>
                <li><a href="../index.php">Cerrar sesión</a></li>
            </ul>
        </div>

    </footer>
</body>
</html>