<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloggamer: Noticias</title>
    <link rel="stylesheet" href="../assets/css/InicioEstilos.css">
    <link rel="stylesheet" href="../assets/css/Responsive.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

</head>

<body>
    
    <header class="header">
        <div class="menu container">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../assets/img/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="Inicio.html">Inicio</a></li>
                    <li><a href="./Noticias.html">Noticias</a></li>
                    <li><a href="Juegos.html">Juegos</a></li>
                    <li><a href="../index.php">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div> 

        <!-- Contador de visitas -->
        <div class="visit-counter">
            <p>Número de visitas a esta página: 246</p>
        </div>

        
        <div class="swiper mySwiper container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    
                    <img src="../assets/img/1.jpg" alt="imagenGato">
                </div>

                <div class="swiper-slide">
                    
                    <img src="../assets/img/2.jpg" alt="imagenGato">
                </div>

                <div class="swiper-slide">
                    
                    <img src="../assets/img/3.jpg" alt="imagenGato">
                </div>

                <div class="swiper-slide">
                    
                    <img src="../assets/img/4.jpg" alt="imagenGato">
                </div>

                <div class="swiper-slide">
                    
                    <img src="../assets/img/5.jpg" alt="imagenGato">
                </div>

            </div>
        </div>


    </header>

    <br><br>

    <main >
        <div class="container product">
            <h2 class="lo_mas_nuevo">Lo mas nuevo</h2>
            <div class="new_Noticias">
                <div class="noticiaPrincipal">
                    <img class="img_New_Noticias" src="../assets/img/newNoticias.jpg" alt="">
                    <p>EA Sports anunció este jueves (10) el lanzamiento de EA Sports FC Mobile, el nuevo juego de la serie que llegará a los dispositivos móviles el 26 de septiembre. También dejando de lado el nombre FIFA utilizado en sus versiones anteriores, el título contará con el jugador brasileño Vinícius Júnior en la portada, uno de los destacados del Real Madrid en las últimas temporadas.</p>
                    <div class="notaCompleta">
                        <a href="EA-FC-24.html">Nota completa</a>
                    </div>
                </div>
                <div class="aside">
                    <div class="otros_Contenidos">
                        <li class="li_otros"style="color: rgb(242, 77, 1);">Otros</li>
                        <ul>                
                            <li><a href="https://www.levelup.com/PlayStation-4/juegos/48379/Minecraft/review">Minecraft</a></li>
                            <li><a href="https://www.rockstargames.com/mx/VI">GTA 6</a></li>
                            <li><a href="Resident-Evil-4-Remake.html">Resident Evil 4</a></li>
                            <li><a href="EA-FC-24.html">EA FC 2024</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="img_Fondo_Imagen">
            <div class="contenedor_img_fondo product ">
                <div class="img_Fondo_nota">
                    <h1>HALO llegaria a PS5</h1>
                    <p>Xbox estaría preparando una actualización del primer Halo, y estaría 'en consideración' que formase parte de los próximos juegos multiplataforma.</p>
                    <br>
                    <p>Halo Infinite! Descubrid contenido nuevo que incluye nuevos mapas, modos, eventos temáticos por tiempo limitado y un nuevo Pase de batalla que nunca caduca.</p>
                </div>
                <div class="notaCompleta">
                    <a style="padding: 0px 100px;" href="https://youtu.be/iUjYHJbFrVQ?si=dfSet5dS_NiM2C9B">Ver nota</a>
                </div>
            </div>
        </div>

            

        <div class="container product">
            <h2 class="lo_mas_nuevo">Noticias actuales</h2>
            <br><br>
            <div class="juegos-content">

                <div class="informacion">
                    <figure>
                        <img class="imagenmas" src="../assets/img/not_new_1.jpg" alt="imagenUno">
                        <div class="contenedor-txt">
                            <h1>El nuevo FC</h1>
                            <p>Descubre el revolucionario FC y opciones de personalización sin precedentes, FIFA 24 se prepara para elevar el estándar de los videojuegos de fútbol.</p>                    
                        </div>
                    </figure>
                </div>
                <div class="informacion">
                    <figure>
                        <img class="imagenmas" src="../assets/img/not_new_2.jpg" alt="imagenUno">
                        <div class="contenedor-txt">
                            <h1>Patentes de Nintendo</h1>
                            <p>Nintendo pierde millonaria demanda por infracción de patentes, obligando a cambios significativos en sus consolas y accesorios. La compañía japonesa deberá pagar una cuantiosa indemnización y ajustar su tecnología.</p>                    
                        </div>
                    </figure>
                </div> 
                <div class="informacion">
                    <figure>
                        <img class="imagenmas" src="../assets/img/not_new_3.jpg" alt="imagenUno">
                        <div class="contenedor-txt">
                            <h1>Solucionando errores</h1>
                            <p>Cyberpunk 2077 resurge de las cenizas tras solucionar todos sus fallos. CD Projekt Red lanza una masiva actualización que corrige errores, mejora el rendimiento y agrega nuevas características, transformando la experiencia de juego.</p>                    
                        </div>
                    </figure>
                </div>
                <div class="informacion">
                    <figure>
                        <img class="imagenmas" src="../assets/img/not_new_4.jpg" alt="imagenUno">
                        <div class="contenedor-txt">
                            <h1>Halo y PlayStation</h1>
                            <p>Halo llega a PlayStation por primera vez, rompiendo las barreras de la exclusividad. Los fanáticos de ambas consolas podrán disfrutar del legendario juego de disparos en sus sistemas favoritos.</p>                    
                        </div>
                    </figure>
                </div>
                <div class="informacion">
                    <figure>
                        <img class="imagenmas" src="../assets/img/not_new_5.jpg" alt="imagenUno">
                        <div class="contenedor-txt">
                            <h1>GTA 6</h1>
                            <p>Rockstar Games anuncia oficialmente el lanzamiento de GTA 6, prometiendo una experiencia revolucionaria en el mundo abierto. Con un mapa expansivo, personajes inolvidables y una narrativa cautivadora.</p>                    
                        </div>
                    </figure>
                </div>
                <div class="informacion">
                    <figure>
                        <img class="imagenmas" src="../assets/img/not_new_6.jpg" alt="imagenUno">
                        <div class="contenedor-txt">
                            <h1>Problemas en el Modern Warfare</h1>
                            <p>Modern Warfare 3 ya está disponible en todas las consolas, pero no todo es color de rosa! Jugadores reportan problemas de conectividad, errores en el juego y desequilibrios en el multijugador.</p>                    
                        </div>
                    </figure>
                </div>

            </div>
            
            <br><br><br>

            <div class="masContenido">
                <a href="Juegos.html">Mas contenido</a>
            </div>
            <br>
        </div>
    </main>

    <footer class="footer">
        <div class="container footer_container">
            <div class="link">
                <a href="Inicio.html" class="logo">BLOGGAMER</a>
            </div>
    
            <div class="link">
                <ul>
                    <li><a href="Inicio.html">Inicio</a></li>
                    <li><a href="./Noticias.html">Noticias</a></li>
                    <li><a href="Juegos.html">Juegos</a></li>
                    <li><a href="../index.php">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="../assets/js/scropt.js"></script>

</body>
</html>