<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resident Evil 4 Remake</title>
    <link rel="stylesheet" href="Resident-Evil-4-Remake.css">
    <style>
    /* Estilos para el modal */
        .modal {
            display:none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.9);
        }
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 100%;
        }
        .close {
            position: absolute;
            top: 20px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }
        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <header class="header">
        <div class="menu container">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="images/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="Inicio.html">Inicio</a></li>
                    <li><a href="./Noticias.html">Noticias</a></li>
                    <li><a href="Juegos.html">Juegos</a></li>
                    <li><a href="../index.php">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="resident-evil-4-remake-container">
        <h1>Resident Evil 4 Remake</h1>
        <div class="resident-evil-4-remake-info">
            <h3>Información del juego</h3>
            <div class="info-juego-resident-evil-4-remake">
                <p>
                Resident Evil 4 —cuyo título original en Japón es Biohazard RE:4 (バイオハザード Baiohazādo Fō?)—a​ es un videojuego de acción-aventura de disparos en tercera persona perteneciente 
                al subgénero de terror y supervivencia desarrollado y publicado por Capcom. Un remake del juego de 2005 Resident Evil 4, fue lanzado 
                para PlayStation 4, PlayStation 5, Windows y Xbox Series X/S el 24 de marzo de 2023. Las versiones para iOS y Mac OS se lanzaron el 
                20 de diciembre de 2023.
                Resident Evil 4 es un remake del Resident Evil 4 original del 2005.
                <br>
                <br>
                Los jugadores controlan al agente estadounidense Leon S. Kennedy, que debe salvar a Ashley Graham, la hija del presidente de los Estados Unidos, del misterioso culto de Los Iluminados. 
                El remake tiene una trama actualizada, nuevas imágenes, personajes, elenco y jugabilidad alterada.
                Survival Horror de última generación reimaginado para el año 2023.
                <br> 
                <br>
                Resident Evil 4 recibió elogios de la crítica y fue nominada para el Golden Joystick Award al Ultimate Game Of The Year y The Game Award al Juego del Año. El juego había vendido 6,48 millones de unidades 
                en diciembre de 2023, lo que la convierte en la entrega más vendida de la serie.
                <br>
                Resident Evil 4 conserva la esencia del juego original, a la vez que introduce mecánicas de juego actualizadas,
                una historia reimaginada, e impresionantes gráficos de última generación que lo convierten en la experiencia de 
                Survival Horror definitiva en la cual se cruzan la vida y la muerte, el terror y la catarsis.
                <br>
                <br>
                Resident Evil 4, el legendario survival horror de 2005, se renueva completamente en este remake. 
                <br>
                Seis años después de los eventos de Resident Evil 2, el sobreviviente de Raccoon City, Leon Kennedy, se encuentra apostado 
                en un recóndito pueblo de Europa para investigar la desaparición de la hija del presidente de los Estados Unidos. Lo que 
                descubre allí no se parece a nada que haya enfrentado antes.
                <br>
                Todos los aspectos del juego clásico se han actualizado para la generación actual, desde gráficos y controles modernizados, 
                hasta una historia reinventada que puede sorprender incluso a los fanáticos del juego original.
                <br>
                <br>
                La nueva versión de Resident Evil 4 presenta una jugabilidad similar a su inmediato predecesor Resident Evil 3 (videojuego de 2020), 
                siendo que el nuevo videojuego se lleva a cabo en una perspectiva en tercera persona con la cámara sobre el hombro muy similar a la 
                cámara de Resident Evil 2 (videojuego de 2019); los lugares del videojuego original también han sido rediseñados, alterando o reimaginando parcialmente 
                varias zonas, y agregando nuevos lugares, utilizando un sistema de mapa similar pero más detallado. También se mantiene el sistema de 
                curación por hierbas y el estado de salud original, el sistema de administración de recursos en maletín se mantiene al igual que 
                la mayoría de objetos y recursos, ajustados en un sistema de inventario idéntico al ya visto en Resident Evil Village y Resident Evil 4.
                </p>
            </div>

            <h3>Reseñas</h3>
            <div class="reseñas-calif">

            <div class="resenia-resident-evil-4-remake">
                <center><img src="images/IGN-Logo.png" width="400" height="100"></center>
                <div class="resenia">
                <h5>IGN</h5>
                <div class="calif">
                    <h6>Increíble</h6>
                    <h6>El mejor remake de Resident Evil</h6>
                    <p>
                    "Resident Evil 4: Remake logra mejorar la propuesta original convirtiéndose en uno de los mejores títulos de la saga por méritos propios."    
                    <br>
                    "La sensación una vez terminamos la primera vuelta y vemos que hay un modo nueva partida+ del que, adivinad, tampoco podemos deciros nada, es que Capcom ha 
                    logrado hacer el mejor remake de un episodio de la saga hasta la fecha. Algo que parecía muy difícil después de Resident Evil 2: 
                    Remake pero que han logrado de nuevo con un título protagonizado por Leon S. Kennedy. Se ve que el muchacho le da buena suerte a la 
                    compañía. Pocas, muy pocas pegas se le pueden poner al remake más allá de la ausencia de las misiones de Ada Wong, una pena no tener 
                    'remaqueado' este contenido; o la ausencia de la animación de las patadas a las puertas, que me ha hecho pulsar un par de veces el 
                    botón de acción para nada."
                    <br>
                    <br>
                    "9 / 10" </p>
                </div>
            </div>
            </div>

            <div class="resenia-resident-evil-4-remake">
                <center><img src="images/Metacritic_logo.png" width="500" height="100"></center>
                <div class="resenia">
                <h5>Metacritic</h5>
                <div class="calif">
                    <h6>Aclamado universalmente</h6>
                    <p>"Basado en 132 reviews de críticas." <br><br>
                    "Resident Evil 4 Remake no solo hace lo correcto con su fuente de inspiración original, sino que también establece un listón 
                    muy alto sobre lo que pueden ser los remakes modernos. Todos los componentes de la historia se han perfeccionado en un paquete 
                    mejor pensado, y eso sin mencionar el uso completo que hace el juego de la destreza gráfica actual para ofrecer una interpretación 
                    más aterradora de la España rural. La jugabilidad principal también conserva lo que lo hizo tan grandioso en su día, pero con 
                    comodidades modernas como un sistema de parada, selección rápida de armas y la capacidad de correr. Y a pesar de las nuevas mejoras, 
                    la mayor agresividad de los enemigos garantiza que el juego nunca se sienta pan comido. No sé a quién todavía 
                    hay que convencer a estas alturas, pero Resident Evil 4 es una obra maestra que no puedo recomendar lo suficiente."
                        <br><br> "93 / 100"</p>
                </div>
            </div>
            </div>

            <div class="resenia-resident-evil-4-remake">
                <center><img src="images/levelup-com-logo-vector-removebg-preview.png" width="500" height="100"></center>
                <div class="resenia">
                <h5>LevelUp</h5>
                <div class="calif">
                    <h6>Joya que no pierde lustro</h6>
                    <p>
                    "La atmósfera del remake, por su parte, es tenebrosa y se combina perfectamente con el tono sombrío y de acción presente. En algunos momentos, los canticos ceremoniales resuenan a lo lejos mientras te deslizas por senderos 
                    llenos de misterio. Estos lugares es donde la nueva generación muestra su poder, ofreciendo vistas y escenarios cuidadosamente detallados. Y después de un combate, te quedarás asombrado por la calidad visual del juego, que se realza gracias al trabajo de ambientación, sombras y neblina del ambiente. 
                    Es una joya visualmente impactante.
                    <br>
                    Dicho esto, el remake de Resident Evil 4 fue justo lo que queríamos ver. Mantuvo lo adecuado y necesario, al mismo tiempo 
                    que cambió algunas cosas y dejó otras atrás. La franquicia ahora tiene un nuevo clásico gracias a este remake, que sirve 
                    como punto de introducción para una nueva generación ya que mantiene la magia original. Incluso los veteranos del juego 
                    se sentirán constantemente en un estado de tensión y miedo, gracias a la fresca dinámica que experimentan al mismo tiempo 
                    que conocen lo que sigue más adelante. Es emocionante vivir el juego de esta manera." 
                    </p>
                </div>
            </div>
            </div>


        </div>
    
        <br>
        
        <h3>Imágenes y capturas del juego</h3>
        
        <div class="imagenes-y-capturas">
            <img id="myImage" src="resident-evil-4-remake/resident-evil-4-remake-gameplay-1.jpg" onclick="openModal(this.src)">
         
            <img id="myImage" src="resident-evil-4-remake/resident-evil-4-remake-gameplay-2.png" onclick="openModal(this.src)">
        
            <img id="myImage" src="resident-evil-4-remake/resident-evil-4-remake-gameplay-3.jpg" onclick="openModal(this.src)">
        
            <img id="myImage" src="resident-evil-4-remake/resident-evil-4-remake-gameplay-4.jpg" onclick="openModal(this.src)">

            <img id="myImage" src="resident-evil-4-remake/resident-evil-4-remake-gameplay-5.jpg" onclick="openModal(this.src)">

            <img id="myImage" src="resident-evil-4-remake/resident-evil-4-remake-gameplay-6.jpg" onclick="openModal(this.src)">
        </div>

        <!-- El modal -->
<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
</div>

<script>
    function openModal(src) {
        document.getElementById('myModal').style.display = "block";
        document.getElementById('modalImage').src = src;
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }
</script>

<h3>Gameplay del juego</h3>
<div style="text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NcHshXJUhQY?si=kpxZjskA4bMQLNTU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

    </main>


    <footer class="footer container">

        <div class="link">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
        </div>

        <div class="link">
            <ul>
                <li><a href="Inicio.html">Inicio</a></li>
                <li><a href="./Noticias.html">Noticias</a></li>
                <li><a href="Juegos.html">Juegos</a></li>
                <li><a href="../index.php">Cerrar sesión</a></li>
            </ul>
        </div>

    </footer>

    </body>
    </html>