<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Legend of Zelda: Breath of the Wild</title>
    <link rel="stylesheet" href="Zelda-Breath-Of-The-Wild.css">
    <style>
        /* Estilos para el modal */
            .modal {
                display:none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.9);
            }
            .modal-content {
                margin: auto;
                display: block;
                width: 80%;
                max-width: 100%;
            }
            .close {
                position: absolute;
                top: 20px;
                right: 35px;
                color: #f1f1f1;
                font-size: 40px;
                font-weight: bold;
                transition: 0.3s;
            }
            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
        </style>
</head>
<body>
    
    <header class="header">
        <div class="menu container">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="images/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="Inicio.html">Inicio</a></li>
                    <li><a href="./Noticias.html">Noticias</a></li>
                    <li><a href="Juegos.html">Juegos</a></li>
                    <li><a href="../index.php">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="contenedor-zelda-botw">
        <h1>The Legend of Zelda: Breath of the Wild</h1>
        <div class="zelda-botw-info">
            <h3>Información del juego</h3>
            <div class="info-zelda-botw">
            <p>
                The Legend of Zelda: Breath of the Wild es un videojuego de acción-aventura de 2017 de la serie The Legend of Zelda, desarrollado por la filial Nintendo EPD en colaboración con Monolith Soft y publicado por Nintendo para las consolas Wii U y Nintendo Switch.
                Es la decimoctava entrega de la serie y la tercera en utilizar gráficos en alta definición.
                <br>
                <br>
                El jugador controla a Link, que despierta en un mundo postapocalíptico después de estar cien años durmiendo para derrotar a Ganon y salvar al reino de Hyrule. A diferencia de los otros títulos predecesores de la serie, el juego presenta un mundo abierto que le permite al jugador encontrar distintas maneras de completar un objetivo y que la historia pueda ser completada de forma no lineal.
                <br>
                <br>
                La idea original de la distribuidora era lanzar el juego en 2015, no obstante, en marzo de dicho año, el productor Eiji Aonuma declaró que los objetivos de la empresa habían cambiado y ya no buscaban lanzar el juego en ese año, retrasándolo para 2016. Tras unos meses sin anuncios sobre el título, Nintendo anunció su retraso hasta 2017, así como que también el juego sería presentado formalmente en la E3 2016. El juego fue presentado a través de su respectivo tráiler en la E3, siendo este el eje central de la presentación de Nintendo.
                <br>
                <br>
                Desde la primera presentación pública, Breath of the Wild fue recibido positivamente por la crítica. Luego de su lanzamiento, el juego fue elogiado por la crítica y los fanáticos de la franquicia. Resultó ganador de tres premios en los The Game Awards 2017, incluyendo juego del año. La libertad para completar objetivos de manera no lineal e interactividad que ofrece el título lo llevaron a ser catalogado como el juego más completo de la serie, y uno de los mejores videojuegos de todos los tiempos.
            </p>
            </div>

            <h3>Reseñas</h3>
            <div class="reseñas-calif">

            <div class="resenia-zelda-botw">
                <center><img src="images/IGN-Logo.png" width="400" height="100"></center>
                <div class="resenia">
                <h5>IGN</h5>
                <div class="calif">
                    <h6>Obra maestra</h6>
                    <p>
                    "The Legend of Zelda: Breath of the Wild es una clase magistral sobre diseño de mundo abierto y un juego decisivo que reinventa una franquicia de 30 años. Presenta una maravillosa caja de arena llena de misterio, colgando docenas y docenas de cosas tentadoras frente a ti que simplemente piden ser exploradas. He tenido muchas aventuras en Breath of the Wild, y cada una tiene una historia única detrás de lo que me llevó a ellas, lo que las convierte en historias sobre historias. E incluso después de haber pasado más de 50 horas buscando en los confines de Hyrule, todavía logro encontrar cosas que no había visto antes. Fácilmente gastaré entre 50 y 100 más tratando de localizar sus momentos fascinantes."
                    <br>
                    <br>
                    "10 / 10" </p>
                </div>
            </div>
            </div>

            <div class="resenia-zelda-botw">
                <center><img src="images/Metacritic_logo.png" width="500" height="100"></center>
                <div class="resenia">
                <h5>Metacritic</h5>
                <div class="calif">
                    <h6>Aclamado universalmente</h6>
                    <p>"Basado en 117 reviews de críticas." <br><br>
                    "The Legend of Zelda: Breath of the Wild es un lanzamiento histórico para su franquicia y Nintendo. Es la primera vez que Nintendo realmente aborda el género de mundo abierto en el sentido de la generación actual; Sin embargo, al llegar tarde a la fiesta, adopta algunas fortalezas de los mejores juegos y al mismo tiempo forja su propia identidad. Este juego es una revolución para la franquicia, pero la esencia de Legend of Zelda sigue ahí: su alma permanece. El resultado final, entonces, es una experiencia cautivadora. Este estará en la carrera como el mejor juego en la historia de la propiedad intelectual, y probablemente será discutido como un contendiente líder en el género de mundo abierto más amplio. Nintendo ha llevado valientemente una de sus franquicias más importantes en una nueva dirección y ha logrado un triunfo."
                    <br><br> 
                    "97 / 100"</p>
                </div>
            </div>
            </div>

            <div class="resenia-zelda-botw">
                <center><img src="images/levelup-com-logo-vector-removebg-preview.png" width="500" height="100"></center>
                <div class="resenia">
                <h5>LevelUp</h5>
                <div class="calif">
                    <h6>"9/10"</h6>
                    <p>
                    "The Legend of Zelda: Breath of the Wild es un juego maravilloso, que superó por mucho las expectativas —que con todo y algunas dudas, ya eran muy altas— al sumergirme en una fantasía que se siente real. Cada aspecto de la experiencia de juego está bien ejecutado en términos técnicos, pero, más allá, te despierta emociones intensas, de curiosidad y angustia, a constante asombro… cada una bajo una luz positiva, que suman para envolverte y cautivarte. Esta entrega de la franquicia es por mucho uno de los mejores trabajos en la trayectoria de Nintendo, uno cuya calidad resonará por mucho tiempo."
                    </p>
                </div>
            </div>
            </div>


        </div>
    
        <br>
        
        <h3>Imágenes y capturas del juego</h3>
        
        <div class="imagenes-y-capturas">
            <img id="myImage" src="zelda-breath-of-the-wild/zelda-breath-of-the-wild-1.jpg" onclick="openModal(this.src)">
         
            <img id="myImage" src="zelda-breath-of-the-wild/zelda-breath-of-the-wild-2.jpeg" onclick="openModal(this.src)">
        
            <img id="myImage" src="zelda-breath-of-the-wild/zelda-breath-of-the-wild-3.jpg" onclick="openModal(this.src)">
        
            <img id="myImage" src="zelda-breath-of-the-wild/zelda-breath-of-the-wild-4.jpg" onclick="openModal(this.src)">

            <img id="myImage" src="zelda-breath-of-the-wild/zelda-breath-of-the-wild-5.jpg" onclick="openModal(this.src)">

            <img id="myImage" src="zelda-breath-of-the-wild/zelda-breath-of-the-wild-6.jpg" onclick="openModal(this.src)">
        </div>

        <!-- El modal -->
<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
</div>

<script>
    function openModal(src) {
        document.getElementById('myModal').style.display = "block";
        document.getElementById('modalImage').src = src;
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }
</script>

        <h3>Gameplay del juego</h3>
        <div style="text-align: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xfIQsaYo5RY?si=V0W3p6cje8O7DRkX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

    </div>

    </main>

    <footer class="footer container">

        <div class="link">
            <a href="Inicio.html" class="logo">BLOGGAMER</a>
        </div>

        <div class="link">
            <ul>
                <li><a href="Inicio.html">Inicio</a></li>
                <li><a href="./Noticias.html">Noticias</a></li>
                <li><a href="Juegos.html">Juegos</a></li>
                <li><a href="../index.php">Cerrar sesión</a></li>
            </ul>
        </div>

    </footer>

    </body>
    </html>